.fixed-alert {
    position: fixed;
    top: 60px;
    right: 50px;
    z-index: 1050;
    transform: translateX(0);
    /* Adjust for larger screens */
    /* Adjust the styles for mobile screens */
    @media (max-width: 576px) {
        top: 60px;
        /* Less offset for small screens */
        right: 10px;
        /* Align to the right edge */
        left: 10px;
        /* Add some space on the left */
        width: calc(100% - 20px);
        /* Make the alert take almost the full width */
        transform: none;
        /* No need for translateX on small screens */
    }
}


/* Set a fixed height and make the dropdown scrollable */

.notifications {
    max-height: 420px;
    /* Set the maximum height */
    overflow-y: auto;
    /* Enable vertical scrolling */
}